WAControlServicioSocial/App_WebReferences/SWLNControlServicioSocial/SWLNControlServicioSocial1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfECEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ECEstudiante" nillable="true" type="tns:ECEstudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfECEstudiante" nillable="true" type="tns:ArrayOfECEstudiante" />
  <xs:complexType name="ECEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaternoEstudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoEstudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailEstudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistroEstudiante" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstudiante" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEstudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoEstudiante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ECEstudiante" nillable="true" type="tns:ECEstudiante" />
  <xs:complexType name="ArrayOfECProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ECProyecto" nillable="true" type="tns:ECProyecto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfECProyecto" nillable="true" type="tns:ArrayOfECProyecto" />
  <xs:complexType name="ECProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoProyecto" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FechaCreacionProyecto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinProyecto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioProyecto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HorasEstimadas" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenProyecto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NombreProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbicacionProyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ECProyecto" nillable="true" type="tns:ECProyecto" />
</xs:schema>