WAControlServicioSocial/App_WebReferences/SWLNControlServicioSocial/SWLNControlServicioSocial2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56904/SWLNControlServicioSocial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_CEstudiante_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CEstudiante_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CEstudiante_OResult" nillable="true" type="q1:ArrayOfECEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerEstudiantePorIdResult" nillable="true" type="q2:ECEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCFacultadPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCFacultadPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerCFacultadPorIdResult" nillable="true" type="q3:ECFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CertificadosEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CertificadosEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CertificadosEstudianteResult" nillable="true" type="q4:ArrayOfECCertificado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyecto_OResult" nillable="true" type="q5:ArrayOfECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CCertificado_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CCertificado_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CCertificado_OResult" nillable="true" type="q6:ArrayOfECCertificado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyectoEstudiante_OResult" nillable="true" type="q7:ArrayOfECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_IdProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_IdProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyecto_O_IdProyectoResult" nillable="true" type="q8:ECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_CProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_CProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyecto_O_CProyectoResult" nillable="true" type="q9:ArrayOfECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSedeIdProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSedeIdProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerSedeIdProyectoResult" nillable="true" type="q10:ECSede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="IdEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerProyectoEstudiantePorIdsResult" nillable="true" type="q11:ECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIdEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIdEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerProyectoEstudiantePorIdEstudianteResult" nillable="true" type="q12:ArrayOfECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProyectoEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProyectoEstudianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CProyecto_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DescripcionProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UbicacionProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstadoProyecto" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="ImagenProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HorasEstimadas" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="FechaInicioProyecto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinProyecto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaCreacionProyecto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IdSede" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_CProyecto_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idproyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyecto_O_IDResult" nillable="true" type="q13:ArrayOfECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CProyecto_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="NombreProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DescripcionProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UbicacionProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstadoProyecto" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="ImagenProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HorasEstimadas" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="FechaInicioProyecto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinProyecto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaCreacionProyecto" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IdSede" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_CProyecto_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>