WAControlServicioSocial/App_WebReferences/SWLNControlServicioSocial/SWLNControlServicioSocial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWLNControlServicioSocial" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56904/SWLNControlServicioSocial.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56904/SWLNControlServicioSocial.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56904/SWLNControlServicioSocial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CEstudiante_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CEstudiante_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CEstudiante_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CEstudiante_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_ObtenerEstudiantePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudiantePorId" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_ObtenerEstudiantePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstudiantePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_ObtenerCFacultadPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCFacultadPorId" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_ObtenerCFacultadPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCFacultadPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CertificadosEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CertificadosEstudiante" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CertificadosEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CertificadosEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyecto_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyecto_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CCertificado_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CCertificado_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CCertificado_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CCertificado_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyectoEstudiante_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_O" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyectoEstudiante_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyecto_O_IdProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O_IdProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyecto_O_IdProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O_IdProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyecto_O_CProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O_CProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_Obtener_CProyecto_O_CProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O_CProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_ObtenerSedeIdProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSedeIdProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWLNControlServicioSocial_ObtenerSedeIdProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSedeIdProyectoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWLNControlServicioSocial">
    <wsdl:operation name="Obtener_CEstudiante_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CEstudiante_O" message="tns:ISWLNControlServicioSocial_Obtener_CEstudiante_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CEstudiante_OResponse" message="tns:ISWLNControlServicioSocial_Obtener_CEstudiante_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstudiantePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/ObtenerEstudiantePorId" message="tns:ISWLNControlServicioSocial_ObtenerEstudiantePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/ObtenerEstudiantePorIdResponse" message="tns:ISWLNControlServicioSocial_ObtenerEstudiantePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCFacultadPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/ObtenerCFacultadPorId" message="tns:ISWLNControlServicioSocial_ObtenerCFacultadPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/ObtenerCFacultadPorIdResponse" message="tns:ISWLNControlServicioSocial_ObtenerCFacultadPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CertificadosEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CertificadosEstudiante" message="tns:ISWLNControlServicioSocial_Obtener_CertificadosEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CertificadosEstudianteResponse" message="tns:ISWLNControlServicioSocial_Obtener_CertificadosEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O" message="tns:ISWLNControlServicioSocial_Obtener_CProyecto_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_OResponse" message="tns:ISWLNControlServicioSocial_Obtener_CProyecto_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CCertificado_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CCertificado_O" message="tns:ISWLNControlServicioSocial_Obtener_CCertificado_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CCertificado_OResponse" message="tns:ISWLNControlServicioSocial_Obtener_CCertificado_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyectoEstudiante_O" message="tns:ISWLNControlServicioSocial_Obtener_CProyectoEstudiante_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyectoEstudiante_OResponse" message="tns:ISWLNControlServicioSocial_Obtener_CProyectoEstudiante_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O_IdProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O_IdProyecto" message="tns:ISWLNControlServicioSocial_Obtener_CProyecto_O_IdProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O_IdProyectoResponse" message="tns:ISWLNControlServicioSocial_Obtener_CProyecto_O_IdProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O_CProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O_CProyecto" message="tns:ISWLNControlServicioSocial_Obtener_CProyecto_O_CProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O_CProyectoResponse" message="tns:ISWLNControlServicioSocial_Obtener_CProyecto_O_CProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSedeIdProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/ObtenerSedeIdProyecto" message="tns:ISWLNControlServicioSocial_ObtenerSedeIdProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWLNControlServicioSocial/ObtenerSedeIdProyectoResponse" message="tns:ISWLNControlServicioSocial_ObtenerSedeIdProyecto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWLNControlServicioSocial" type="tns:ISWLNControlServicioSocial">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_CEstudiante_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CEstudiante_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstudiantePorId">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/ObtenerEstudiantePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCFacultadPorId">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/ObtenerCFacultadPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CertificadosEstudiante">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CertificadosEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CCertificado_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CCertificado_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyectoEstudiante_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O_IdProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O_IdProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O_CProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/Obtener_CProyecto_O_CProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSedeIdProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWLNControlServicioSocial/ObtenerSedeIdProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWLNControlServicioSocial">
    <wsdl:port name="BasicHttpBinding_ISWLNControlServicioSocial" binding="tns:BasicHttpBinding_ISWLNControlServicioSocial">
      <soap:address location="http://localhost:56904/SWLNControlServicioSocial.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>