SWLNControlServicioSocial/App_WebReferences/SWADNETControlServicioSocial/SWADNETControlServicioSocial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWADNETControlServicioSocial" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56886/SWADNETControlServicioSocial.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56886/SWADNETControlServicioSocial.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56886/SWADNETControlServicioSocial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyecto_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyecto_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CCertificado_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CCertificado_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CCertificado_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CCertificado_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_IdEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_O_IdEstudiante" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_IdEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_O_IdEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyecto_O_IdProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O_IdProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyecto_O_IdProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyecto_O_IdProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_CProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_O_CProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_CProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CProyectoEstudiante_O_CProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CCertificado_O_IdEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CCertificado_O_IdEstudiante" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Obtener_CCertificado_O_IdEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_CCertificado_O_IdEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Insertar_CCertificado_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_CCertificado_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Insertar_CCertificado_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_CCertificado_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_Inicio_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_CProyectoEstudiante_A_Inicio" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_Inicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_CProyectoEstudiante_A_InicioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_HoraAcumulada_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_CProyectoEstudiante_A_HoraAcumulada" />
  </wsdl:message>
  <wsdl:message name="ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_HoraAcumulada_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_CProyectoEstudiante_A_HoraAcumuladaResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNETControlServicioSocial">
    <wsdl:operation name="Obtener_CProyecto_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyecto_O" message="tns:ISWADNETControlServicioSocial_Obtener_CProyecto_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyecto_OResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CProyecto_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CCertificado_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CCertificado_O" message="tns:ISWADNETControlServicioSocial_Obtener_CCertificado_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CCertificado_OResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CCertificado_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O" message="tns:ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_OResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O_IdEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O_IdEstudiante" message="tns:ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_IdEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O_IdEstudianteResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_IdEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O_IdProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyecto_O_IdProyecto" message="tns:ISWADNETControlServicioSocial_Obtener_CProyecto_O_IdProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyecto_O_IdProyectoResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CProyecto_O_IdProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O_CProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O_CProyecto" message="tns:ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_CProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O_CProyectoResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CProyectoEstudiante_O_CProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_CCertificado_O_IdEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CCertificado_O_IdEstudiante" message="tns:ISWADNETControlServicioSocial_Obtener_CCertificado_O_IdEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CCertificado_O_IdEstudianteResponse" message="tns:ISWADNETControlServicioSocial_Obtener_CCertificado_O_IdEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_CCertificado_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Insertar_CCertificado_I" message="tns:ISWADNETControlServicioSocial_Insertar_CCertificado_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Insertar_CCertificado_IResponse" message="tns:ISWADNETControlServicioSocial_Insertar_CCertificado_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_CProyectoEstudiante_A_Inicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Actualizar_CProyectoEstudiante_A_Inicio" message="tns:ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_Inicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Actualizar_CProyectoEstudiante_A_InicioResponse" message="tns:ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_Inicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_CProyectoEstudiante_A_HoraAcumulada">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Actualizar_CProyectoEstudiante_A_HoraAcumulada" message="tns:ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_HoraAcumulada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETControlServicioSocial/Actualizar_CProyectoEstudiante_A_HoraAcumuladaResponse" message="tns:ISWADNETControlServicioSocial_Actualizar_CProyectoEstudiante_A_HoraAcumulada_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNETControlServicioSocial" type="tns:ISWADNETControlServicioSocial">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_CProyecto_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyecto_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CCertificado_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CCertificado_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O_IdEstudiante">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O_IdEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyecto_O_IdProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyecto_O_IdProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CProyectoEstudiante_O_CProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CProyectoEstudiante_O_CProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_CCertificado_O_IdEstudiante">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Obtener_CCertificado_O_IdEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_CCertificado_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Insertar_CCertificado_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_CProyectoEstudiante_A_Inicio">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Actualizar_CProyectoEstudiante_A_Inicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_CProyectoEstudiante_A_HoraAcumulada">
      <soap:operation soapAction="http://tempuri.org/ISWADNETControlServicioSocial/Actualizar_CProyectoEstudiante_A_HoraAcumulada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNETControlServicioSocial">
    <wsdl:port name="BasicHttpBinding_ISWADNETControlServicioSocial" binding="tns:BasicHttpBinding_ISWADNETControlServicioSocial">
      <soap:address location="http://localhost:56886/SWADNETControlServicioSocial.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>