SWLNControlServicioSocial/App_WebReferences/SWADNETControlServicioSocial/SWADNETControlServicioSocial1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56886/SWADNETControlServicioSocial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CEstudiante_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CEstudiante_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CEstudiante_OResult" nillable="true" type="q3:ArrayOfECEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerEstudiantePorIdResult" nillable="true" type="q4:ECEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCFacultadPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCFacultadPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerCFacultadPorIdResult" nillable="true" type="q5:ECFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CertificadosEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CertificadosEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CertificadosEstudianteResult" nillable="true" type="q6:ArrayOfECCertificado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyecto_OResult" nillable="true" type="q7:ArrayOfECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CCertificado_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CCertificado_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CCertificado_OResult" nillable="true" type="q8:ArrayOfECCertificado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyectoEstudiante_OResult" nillable="true" type="q9:ArrayOfECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_O_IdProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_O_IdProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyectoEstudiante_O_IdProyectoResult" nillable="true" type="q10:ECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_IdProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyecto_O_IdProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyecto_O_IdProyectoResult" nillable="true" type="q11:ECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_O_CProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CProyectoEstudiante_O_CProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_CProyectoEstudiante_O_CProyectoResult" nillable="true" type="q12:ArrayOfECProyecto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSedeIdProyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSedeIdProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerSedeIdProyectoResult" nillable="true" type="q13:ECSede" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProyecto" type="xs:int" />
        <xs:element minOccurs="0" name="IdEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerProyectoEstudiantePorIdsResult" nillable="true" type="q14:ECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIdEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProyectoEstudiantePorIdEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerProyectoEstudiantePorIdEstudianteResult" nillable="true" type="q15:ArrayOfECProyectoEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>